@model WarehouseSystem.Models.ViewModels.PurchaseCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Purchase.PoNumber" class="control-label"></label>
                <input asp-for="Purchase.PoNumber" class="form-control" />
                <span asp-validation-for="Purchase.PoNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.SelectedProduct, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.SelectedProduct, new SelectList(Model.Product, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Product" })
                    @Html.ValidationMessageFor(x => x.SelectedProduct, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.SelectedSupplier, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.SelectedSupplier, new SelectList(Model.Supplier, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Supplier" })
                    @Html.ValidationMessageFor(x => x.SelectedSupplier, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.Count" class="control-label"></label>
                <input asp-for="Purchase.Count" class="form-control" />
                <span asp-validation-for="Purchase.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.Cost" class="control-label"></label>
                <input asp-for="Purchase.Cost" class="form-control" />
                <span asp-validation-for="Purchase.Cost" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Purchase.PurchaseDate" class="form-control" />
                <span asp-validation-for="Purchase.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
