@model IEnumerable<WarehouseSystem.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Purchase Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Supplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PurchaseId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
